  <nav class="navbar">
    <ul>
     <li>
        <p><a href="/"> Home </a></p>
      </li>
       <li id="to-left">
        <p><a href="/menu"> Menu </a></p>
        </li>
       <li>
        <p><a href="/aboutus"> About Us </a></p>
      </li>
      <li>
        <p><a href="/events"> Events </a></p>
      </li>
      <li id="to-right">
        <a href="/signup">Signup</a> <span> | </span>
        <a href="/login">Login</a> {{!-- !!! --}}
      </li>
    </ul>
  </nav>
  <h1 class="signup"> Please make sure to read our rules and regulations below, and sign-up to submit your application <a href="/signup">here</a>  on our website! </h1>

  <div class="background-container">
    
    <img src='./images/bbqcomp2.png' alt="Image" class="image-with-border">
    </div>
  
 
<div class="info-container">
  <div class="info-left">

<h2 class="prize">Prize Money Based on total of $12,000 in Cash &amp; Prize winnings.
<div>Grand Champion $3,000</div>
<div>Reserve Champion $2,000</div>
<div>3rd Overall $1,000</div>
<div>4th Overall $500</div>
<div>Entry Deadline is September 15, 2023</div>
</h2> 
</div>
<h1>Find Hotels in the area</h1>
  <form action="/bbq" method="POST">
    <label for="location">Location:</label>
    <input type="text" name="location" id="location" required>
    <button type="submit">Search Hotels</button>
  </form>

  {{#if hotelData}}
  <div class="info-right">
  <h2 class="hotel">Hotel Results:</h2>
  <ul>
    {{#each hotelData}}
    <li>
      <h3>{{this.name}}</h3>
      <p>Address: {{this.address}}</p>
      <p>City: {{this.city}}</p>
      <p>State: {{this.state}}</p>
      <!-- Display other hotel information as needed -->
    </li>
    {{/each}}
  </ul>
  </div>
  {{else}}
  {{#if error}}
  <p>{{error}}</p>
  {{else}}
  <p>No hotels found.</p>
  {{/if}}
  {{/if}}
  </div>
<hr class="seperator">
  <h1 class="rules"> 
<div>1. The 2023 Donkeys Big A$$ BBQ Competition is a Florida BBQ Association Sanctioned event</div>
<div>2. The 2023 Donkeys Big A$$ BBQ Competition is Sanctioned by the Florida BBQ Association</div>
<div>3. Arrival/Set Up begins on Thursday, September 28, 2023 at 12pm.</div>
<div>4. Standard Cook sites are 20 x 40 But have larger spaces available just let us know what size you need when applying. A
site will not be reserved unless payment has been received.
Application must be complete and all entries fees must accompany application. We can accommodate any size Cook
Team (No Worries just let us know ahead of time.)</div>
<div>5. ALL ENTRY FEES ARE NON-REFUNDABLE</div>
<div>6. All cook sites must have a current fire extinguisher.</div>
<div>7. Electric will be provided for all cook teams ONLY.</div>
<div>8. Meat inspection begins at Noon on Friday.</div>
<div>9. Any tents that are used at Cook Team sites must be fire retardant and have proper fire-resistant documentation
or labels.</div>
<div>10. A quiet time will be observed from 11pm on Thursday night and Friday Night also prior to judging and will
remain in effect until sunrise Friday/Saturday morning. Failure to observe the quiet time may result in removal.</div>
<div>11. Awards are Saturday, September 30th , 2023 at 5:00pm</div>
<div>12. Teams may sell their product at the event. For an additional $150.00 Please call Donkeys Bar and Grill @
850-251-4951 to advise them of your team is vending. (vendor spaces are limited) or Email the Office at:
Donkeysbarandgrill@gmail.com</div>
<div>13. New FBA rules require the Head Cook of all competing teams be a member of the Florida BBQ Association please
enter Member number next to team name. If you are not currently a member:</div>

<div><a href="https://fba39.wildapricot.org/page-18244"> click here </a> to join for as little as $40.00.
Please enter early as we expect spots to get filled quickly</div>
<br>
<br>
<br>
<div>Entry Fee- $300.00 Per team entry (Must turn in all 4 Categories to be eligible for Overall Prizes)</div>
<div>__Cook Team __Vending</div>

<div>Fee for Just Vending $200.00</div>
<div>__Peoples Choice $25.00</div>
<div>__Chicken Sauce Competition 25.00</div>
<div>__Pork Sauce Competition 25.00</div>


 </h1>


</body>




<style>
.navbar {
      font-size: medium;
      background-color: #333;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
       position: fixed; /* Added: Position fixed to keep it at the top */
      top: 0; /* Added: Align it to the top */
     left: 0; /* Added: Align it to the left */
    z-index: 999;
}
.navbar ul {
      list-style-type: none;
      margin: 0;
      padding-top: 20px;
      display: flex;
      justify-content: space-between; /* Add this line */
      width: 100%; /* Add this line */
    }

.navbar ul li {
      margin: 0 10px;
      flex: 1; /* Add this line */
      text-align: center;
      color: red;
    }

.navbar ul li a {
      color: #fff;
      text-decoration: none;
    }

.navbar ul li#to-right {
      margin-right: auto; /* Add this line */
    }

.signup {
  padding-top: 50px;
    color: white;
    font-size: x-large;
    text-align: center;
    text-decoration: double  ;
}

.background-container {
      
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 20px; /* Add margin-bottom to create space */
      margin-right: 20px;
      margin-left: 20px;
    }
.image-with-border {
  border-width: 4px; /* Adjust the border-width value as needed */
  border-style: solid;
  border-color: rgb(3, 3, 3);
}
.rules{
  padding-top: 100px;
  color: white;
  font-size: medium;
  text-align: left;

}

 .separator {
    border: white;
    border-top: 20px solid #ffffff;
    margin: 20px 0;
  }

.prize {
  text-align: left;
  color: white;
  font-size: x-large;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Updated: Align items to the top */
  margin-top: 20px;
  margin-right: 20px; /* Adjust the margin as needed */
  margin-left: 20px; /* Adjust the margin as needed */
}

.info-left {
  text-align: center;
  width: 45%; /* Adjust the width as desired */
  margin-right: 10px; /* Adjust the margin as needed */
}

.info-right {
  text-align: center;
  width: 45%; /* Adjust the width as desired */
  margin-left: 10px; /* Adjust the margin as needed */
}

.info-right ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px; /* Added: Create space between the list items */
}

.info-right li {
  margin-bottom: 20px;
}

</style>

